/* Header CSS */
header#header-top {
    position: fixed;
    z-index: 9;
    width: 100%;
    transition: 0.5s ease-in-out all;
}

.page-header {
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;      
    vertical-align: top;
    /* justify-content: center; */
    background-color: transparent;
    z-index: 100;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.page-navbar {
    display: flex;
}

.navbar-expand-sm {

    font-weight: 600;
    font-size: 11px;
    line-height: 1.45em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    justify-content: flex-start;
    background-color: transparent;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-right: 43em;
}

.li-items-menu {
    margin-left: 0;
    margin: 0 24px;
    list-style-type: none;
}

.a-items-menu {
    text-decoration: none;
}
.span-items-menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 900;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.455em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
}

/* Header CSS END */




/* Banner Carousel Slide Starts */
/* .banner {
    height: 100vh;
} */

/* .page-wrapper {
    height: 90px;
    width: 100%;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 5;
} */

.carousel-slideshow {
    height: 100vh;
}

.carousel-slide {
    height: 100px;
    z-index: 1;
}

.carousel-inner {
    height: 100vh;
    border-bottom: 1px solid #000;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: ""
}
.carousel-item {
    object-fit: cover;
}

.title-winter-collection1 {
    left: 4%;
    margin: 0;
    padding: 12px 41px;
    top: 43%;
    width: auto;
    text-align: center;
}

.h1-title-winter-collection {
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.22em;
    word-wrap: break-word;
    margin-bottom: 25px;
}

.btn-winter-collection {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.417em;
    letter-spacing: .1em;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: auto;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    transition: color .25s ease-out,
        background-color .25s ease-out,
        border-color .25s ease-out;
    padding: 11px 49px;
    cursor: pointer;
    z-index: 3;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
}

.btn-winter-collection:hover {
    background-color: #000;
    color: white;
    border-color: #000;
}

.carousel-control-prev {
    padding-bottom: 0px;
    padding-right: 105px;
}
.carousel-control-prev-icon {
    color: #000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill=''%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next {
    padding-bottom: 0px;
    padding-left: 105px;
}

.carousel-control-next-icon {
    color: #000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill=''%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

/* Banner Carousel Slide ENDS */



/* Quotes Section Starts */
.content-box {
    display: flex;
}

.elementor-text-box {
    text-align: center;
    padding: 100px 356px;
}

.h4-elementor-content {
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 29px;
    line-height: 1.39em;
    word-wrap: break-word;
    font-weight: 400;
}

/* Quotes Section ENDS */





/* Shopping cart Starts */
.li-items-menu {
    margin-left: 0;
    margin: 0 24px;
    list-style-type: none;
}

.cart-items-menu {
    font-family: 'Noto Sans', sans-serif;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.45em;
    letter-spacing: .1em;
    text-decoration: none;
}

.span1-items-menu {
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #000;
    padding: 1px;
    background-repeat: no-repeat;
}

.span-cart-items-menu {
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    border-color: 1px solid #000;
    border: 0;
    background: none;
    text-transform: uppercase;
    color: #000;
    position: relative;
    outline: none;
    font-weight: 600;
    padding: 2px 5px 2px 6px;
    box-sizing: border-box;
}

.span-cart-items-menu::before,
.span-cart-items-menu::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 1px solid transparent;
    width: 0;
    height: 0;
}

.span-cart-items-menu::after {
    bottom: 0;
    right: 0;
}

.span-cart-items-menu::before {
    top: 0;
    left: 0;
}

.span-cart-items-menu:hover::before,
.span-cart-items-menu:hover::after {
    width: 100%;
    height: 100%;
}

.span-cart-items-menu:hover::before {
    border-top-color: #000;
    border-right-color: #000;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

.span-cart-items-menu:hover::after {
    border-bottom-color: #000;
    border-left-color: #000;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}


.first-product-list {
    list-style-type: none;
    border: 1px solid #000;
}

.product-content-info {
    /* vertical-align: top; */
}

.marked-new-item {
    top: 20;
    left: 20;
    padding: 2px 6px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #000;
    background-color: white;
    border: 1px solid #000;
    z-index: 5;
    margin-top: 6px;
    margin-left: 6px;
}

.img1-product {
    display: block;
    width: 100%;
    object-fit: cover;
}

.inner-img-hover {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity.25s ease-out;
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
}

.inner-img-hover img {
    width: 100%;
}
.product-img:hover .inner-img-hover {
    opacity: 1;
}
.product-img:hover .img1-product {
    opacity: 0;
}

.add-to-wishlist {
    top: 7px;
    right: 12px;
    vertical-align: top;
    z-index: 5;
    cursor: pointer;
}

svg {
    vertical-align: top;
}

.show-detail-description {
    z-index: 5;
    vertical-align: top;
    top: 30px;
    right: 10px;
    cursor: pointer;
}

.product-details {
    margin: 0;
    min-width: 68px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid #000;
    padding: 0 30px;
}

.a-product-details {
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.price-of-product,
h6 {
    text-align: left;
    width: 100%;
    top: 0;
    margin: 2px 0 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    margin: 0;
}

.add-to-cart-btn {
    color: transparent;
    content: '';
    font-size: 0 !important;
    padding: 18px !important;
    width: 69px !important;
    height: 74px !important;
    position: absolute !important;
    bottom: -1px !important;
    right: 0 !important;
    margin-right: -1px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-bottom-color: transparent;
    border-left: 1px solid #000;
}

/* Shopping cart ENDS */




/* MAN_WOMEN Collection Starts */
.collection-man-woman {
    height: 129vh;
    padding-top: 150px;
}

.collection-m-w {
    margin-right: auto;
    margin-left: auto;
}

.men-collection, .women-collection {
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.img-men,.img-women {
    object-fit: cover;
    height: 610px;
    width: 631px;
}


.title-men-collection , .title-women-collection {
    margin: 0;
    padding: 12px 41px;
    top: 38%;
    width: auto;
    text-align: center;
}   

.title-men-collection{
    left: 13%;
}
.title-women-collection{
    left: 63%;
}

.h1-title-collection {
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.22em;
    word-wrap: break-word;
    margin-bottom: 25px;
}

.btn-collection {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.417em;
    letter-spacing: .1em;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: auto;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    /* transition: color .25s ease-out,
        background-color .25s ease-out,
        border-color .25s ease-out; */
    padding: 11px 49px;
    cursor: pointer;
    z-index: 3;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
}

.btn-collection:hover {
    background-color: #000;
    color: white;
    border-color: #000;
}

/* MAN_WOMEN Collection ENDS */




